#contactContainer, #aboutmePage, #projectPage {
    margin: 7.5vh 15%;
}

@media only screen and (max-width: 1000px) {
    #contactContainer, #aboutmePage, #projectPage {
        margin: 7.5vh 5%;
    }
}

#projectGrid {
    margin-top: 2rem;
    flex: 1;
}


.col {
    display: flex;
    justify-content: center;
} 

.projectCardGroup {
    width: 35rem;

}


/* Image Styling */
.card-img-top {
    height: 20vh;
    background-repeat: no-repeat;
    object-fit: cover;
    width: 100%;

}
