.fixedCVButton {
    z-index: 0;
    position: fixed;
    bottom: 1vh ;
    right: 2vh ;
    width: 7.55rem; 
    /* Change width to 5rem after 750px */
}

@media only screen and (max-width: 750px) {
    .fixedCVButton {
        width: 5rem;
    }
}