* {
  box-sizing: border-box; 
  font-family: 'Montserrat', sans-serif;
}

:root {
  --buttonColor: #dddddd;
} 

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}


#root {
  margin-right: 10%;
  margin-left: 10%;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


a {
  text-decoration: none !important;
}

.montserratFont {
  font-family: 'Montserrat', sans-serif;
}

.title {
  font-weight: 700;
  text-align: center
}